html {
  scroll-behavior: smooth;
}

body {
    margin-right: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 700px 300px auto;
    grid-template-areas: 
    "nav nav"
    "header header"
    "aside main" 
    "footer footer";
    min-height: 100vh;
    font-family: cambria;
    background-color: rgb(15 15 15);
    color:white;
}

nav{
    grid-area: nav;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}

#Contents {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    list-style-type: none;
}

#Contents > li {
    background-color: rgb(243, 243, 243);
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 0.30s ease, transform 1s ease;
   
}

#Contents > li:hover {
     box-shadow: 0px 0px 10px 1px white;
}


a:link, a:visited {
  color: black;
  text-decoration: none;
}

h2 {
    margin-right: auto;
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}

h1, #description{
    margin: 0;
    font-size: 40px;
}


aside {
    grid-area: aside;
    overflow: scroll;
    padding: 20px;
    
}

aside::-webkit-scrollbar {
  display: none;
}

.Card {
    background-color: white;
    color:black;
    height:80px;
    width:200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px white;
    margin-top: 20px;
    margin-right: 10px;

    display: inline-block;
}

.Card:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 40px 1px rgb(28, 202, 255);
}

.headtipro {
    margin:0;
    font-size: 16px;
}

.cardes {
    margin:0;
    font-size: 10px;
    margin-top: 3px;
}


main {
    grid-area: main;
    overflow: scroll;
    padding: 20px;
    
}

main::-webkit-scrollbar {
  display: none;
 
}


footer {
    grid-area: footer;
    background-color: white;
    color: black;
    margin-top: 10px;
}

#Recommendation {
    display: flex;
    justify-content: center;
}

#review-container {
    background-color: rgb(100, 98, 98);
    padding: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.cardre {
    background-color: black;
    color: white;
    padding: 20px;
    
    height: 230px;
    width: 200px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
}

.comment {
    margin-top: 40%;
    margin-bottom: auto;
}
.prof {
    margin-bottom: 4px;
    font-size: 13px;
}
.occupation {
    margin-top: 0;
    font-size: 10px;
}


#contactsme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.contacts {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    justify-content: center;
}

.logo {
    margin-left: 10px;
}

#copyright {
    display: flex;
    align-items: center;
    background-color: rgb(15 15 15);
    color: white;
    justify-content: center;
    padding: 4px;
}